<!DOCTYPE html>
<html lang="da-DK">

<head>
  <title>Egebjerg Fælleshus</title>
  <script type="application/ld+json">{
      "@context":"https://schema.org",
      "@type":"Organization",
      "url":"{{ host.url }}{{ '/' | url }}",
      "name":"Egebjerg Fælleshus",
      "email": "formanden@egebjergfaelleshus.dk",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Agernhaven 8",
        "addressLocality": "Ballerup",
        "addressCountry": "DA",
        "postalCode": "2750"
      }
    }</script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Foreningen for Egebjerg Fælleshus">
  <meta name="theme-color" content="#ffffff">
  <link rel="apple-touch-icon" href="/assets/icons/apple-icon-180x180.png">
  <link rel="icon" href="/assets/icons/apple-icon-180x180.png" type="image/png">
  <link rel="icon" href="/assets/icons/favicon.ico" sizes="any">
  <link rel="manifest" href="/assets/icons/manifest.json">
  <style>
    {% capture css %}{% include 'style.css' %}{% endcapture %}{{ css | cssmin | safe }}
  </style>
</head>

<body class="page" onclick="document.getElementsByClassName('page')[0].classList.remove('menu-show');">
  <div class="page-image" onclick="document.getElementsByClassName('page')[0].classList.toggle('menu-show'); event.cancelBubble = true;"></div>
  <nav class="page-menu">
    {% assign navPages = collections.all | eleventyNavigation %}
    <menu>
    {%- for entry in navPages %}
      <li{% if entry.url == page.url %} class="page-menu-active"{% endif %}>
        <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        {% if entry.children.length > 0 %}
          <menu>
          {%- for childEntry in entry.children %}
            <li{% if childEntry.url == page.url %} class="page-menu-active"{% endif %}>
              <a href="{{ childEntry.url | url }}">{{ childEntry.title }}</a>
            </li>
          {%- endfor %}
          </menu>
        {% endif %}
      </li>
    {%- endfor %}
    </menu>
  </nav>
  <header class="page-header">
    <div>Egebjerg Fælleshus</div>
    <div>Agernhaven 8</div>
    <div>Ballerup</div>
  </header>
  <main class="page-content">
    {{ content }}
    <div class="page-revised">Siden er sidst opdateret: {{ page.date | postDate }}</div>
  </main>
  <footer class="page-footer">
    <div>Egebjerg Fælleshus</div>
    <div>Agernhaven 8</div>
    <div>Ballerup</div>
  </footer>
</body>

</html>
