<!DOCTYPE html>
<html lang="da">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ '/assets/style.css' | url }}">
  <title>Egebjerg Fællsehus - {{ title }}</title>
</head>

<body class="page">
  <div class="page-menu">
  <div class="page-image foo">
  </div>
    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml }}
  </div>
  <div class="page-header">
    <div>{{ properties.name }}</div>
    <div>{{ properties.address }}</div>
    <div>{{ properties.city }}</div>
  </div>
  <div class="page-content">
    {{ content }}
  </div>
</body>

</html>
