<!DOCTYPE html>
<html lang="da">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Egebjerg Fælleshus</title>
  <style>
    {% capture css %}{% include 'style.css' %}{% endcapture %}{{ css | cssmin | safe }}
  </style>
</head>

<body class="page" onclick="document.getElementsByClassName('page')[0].classList.remove('menu-show');">
  <div class="page-image" onclick="document.getElementsByClassName('page')[0].classList.toggle('menu-show'); event.cancelBubble = true;"></div>
  <nav class="page-menu">
    {% assign navPages = collections.all | eleventyNavigation %}
    <menu>
    {%- for entry in navPages %}
      <li{% if entry.url == page.url %} class="page-menu-active"{% endif %}>
        <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        {% if entry.children.length > 0 %}
          <menu>
          {%- for childEntry in entry.children %}
            <li{% if childEntry.url == page.url %} class="page-menu-active"{% endif %}>
              <a href="{{ childEntry.url | url }}">{{ childEntry.title }}</a>
            </li>
          {%- endfor %}
          </menu>
        {% endif %}
      </li>
    {%- endfor %}
    </menu>
  </nav>
  <header class="page-header">
    <div>Egebjerg Fælleshus</div>
    <div>Agernhaven 8</div>
    <div>Ballerup</div>
  </header>
  <main class="page-content">
    {{ content }}
    <div class="page-revised">Siden er sidst opdateret: {{ page.date | postDate }}</div>
  </main>
  <footer class="page-footer">
    <div>Egebjerg Fælleshus</div>
    <div>Agernhaven 8</div>
    <div>Ballerup</div>
  </footer>
</body>

</html>
