<!DOCTYPE html>
<html lang="da">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ '/assets/style.css' | url }}">
  <title>Egebjerg Fællsehus</title>
</head>

<body class="page">
  <div class="page-image" onclick="document.getElementsByClassName('page')[0].classList.toggle('menu-show')"></div>
  <div class="page-menu">
    {% assign navPages = collections.all | eleventyNavigation %}
    <menu>
    {%- for entry in navPages %}
      <li{% if entry.url == page.url %} class="page-menu-active"{% endif %}>
        <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        {% if entry.children.length > 0 %}
          <menu>
          {%- for childEntry in entry.children %}
            <li{% if childEntry.url == page.url %} class="page-menu-active"{% endif %}>
              <a href="{{ childEntry.url | url }}">{{ childEntry.title }}</a>
            </li>
          {%- endfor %}
          </menu>
        {% endif %}
      </li>
    {%- endfor %}
    </menu>
  </div>
  <div class="page-header">
    <div>Egebjerg Fælleshus</div>
    <div>Agernhaven 8</div>
    <div>Ballerup</div>
  </div>
  <div class="page-content">
    {{ content }}
  </div>
  <div class="page-footer">
    <div>Egebjerg Fælleshus</div>
    <div>Agernhaven 8</div>
    <div>Ballerup</div>
  </div>
</body>

</html>
